*{
    margin: 0px;
    padding: 0px;
}
#main {
    font-size: 16px;
    background-color:rgba(207, 207, 207, 0.842);
    color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#title {
    font-size: 2em;
    text-align: center;
    margin: 10px 0px;
}

#subtitle {
    text-align: center;
    margin-bottom: 20px;
}

#img-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 10px 0px;
}

#image {    
    display: block;
    max-width: 50%;
}

#img-caption {
    margin: 15px 0px 0px 0px;
    font-size: 1em;
    text-align: center;

}

#headline {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0px 10px 0px;
}

#tribute-info {
    margin: 20px auto;
    line-height: 30px;
    width: 80%;
    max-width: 800px;
}

#ending {
    margin: 60px auto;
    text-align: center;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    #img-caption {
        font-size: 1em;
    }

    #ending {
        margin: 20px auto;
    }
}


